/********** Bill's resets **********/

h1, h2, h3, p, ul, ol {
	margin: 0;
	padding: 0;
}

nav ul, nav ol { 
	list-style-type: none; 
}

img { 
	max-width:100%; 
}

a { 
	text-decoration:none;
}

* { 
	box-sizing: border-box; 
}

.reddit-mono-light {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-light {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.teko-bold {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

body {
    font-family: "Reddit Mono", monospace;
    background-color: #f5fff0;
}

.backgroundimg {
    z-index: 0;
    margin: 0;
    position: fixed;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#bigText {
    position: relative;
    top: 170px;
    font-size: 20pt;
    color: #272727;
    margin: auto;
    text-align: center;
}

.title {
    position: relative;
    top: 10px;
    font-size: 80pt;
    color: #272727;
    width: 100%;
    margin: auto;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-weight: 100;
    z-index: 1;
}

#clock {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20pt;
}

#dateDisplay {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20pt;
}

.finalheader {
    margin: 0;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Teko", sans-serif;
    font-weight: normal;
    padding: 20px;
}

.finalheader:hover {
    cursor: pointer;
}

.information {
    text-align: left;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    background-color: #44633f;
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 0px;
    padding: 10px;
    color: #f5fff0;
    z-index: 2;
}

.There {
    opacity: 1;
    margin-top: 100px;
}

.notThere {
    opacity: 0;
    width: 10px;

}

.bodytext {
    padding: 15px;
    text-align: left;
}

ul {
    list-style-position: inside;
}

form {
    padding: 20px;
}

#textsection {
    width: 80%;
    margin: auto;
    position: relative;
    top: 20vh;
    font-size: 20pt;
    color: #272727;
    text-align: center;
    z-index: 1;
}

.continue {
    background-color: #eb5160;
    padding: 5px;
    position: relative;
    top: 50px;
    display: block;
    width: 140px;
    margin: auto;
    color: #f5fff0;
    border-radius: 5px;
    font-size: 19pt;
    transition: .3s ease-in;
}

.continue:hover {
    background-color: rgb(143, 1, 1);
}

input {
    background-color: #eb5160;
    padding: 5px;
    position: relative;
    top: 0px;
    display: block;
    width: 140px;
    margin: auto;
    color: #f5fff0;
    border-radius: 5px;
    font-size: 19pt;
    transition: .3s ease-in;
    border: none;
}

input:hover {
    background-color: rgb(143, 1, 1);
}

.label {
    position: relative;
    left: 400px;
    bottom: 50px;
}

.mapsection {
    position: relative;
    top: 30px;
    z-index: 1;
}

svg {
    margin: auto;
    display: block;
    border: 1px solid #44633f;
    border-radius: 5px;
}

#mapinfo {
    /* border: 1px solid red; */
    border-radius: 5px;
    font-size: 15pt;
}

section {
    margin-bottom: 20px;
}

#interactivemap {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

#topmapinfo {
    width: 57vw;
    margin: auto;
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#incomerange {
    font-size: 15pt;
    background: #44633f;
    padding: 10px;
    border-radius: 5px;
    color: #f5fff0;
    text-align: center;
}

@media (max-width: 1440px) {
    #topmapinfo {
        padding: 20px 40px 0px 40px;
        width: 100vw;
        top: 60px;
    }

    .backgroundimg {
        top: 45%;
    }

    #textsection {
        top: 100px;
    }

    .mapsection {
        top: -10px;
    }


  }
  



