/********** Bill's resets **********/

h1, h2, h3, p, ul, ol {
	margin: 0;
	padding: 0;
}

nav ul, nav ol { 
	list-style-type: none; 
}

img { 
	max-width:100%; 
}

a { 
	text-decoration:none;
}

* { 
	box-sizing: border-box; 
}

/* .reddit-mono-light {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-light {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

.teko-bold {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

body {
    font-family:'Times New Roman', Times, serif;
    background-color: #F1FFFB;
}

#bigText {
    position: relative;
    top: 170px;
    font-size: 20pt;
    color: #272727;
    margin: auto;
    text-align: center;
}

.title {
    position: relative;
    top: 10px;
    font-size: 80pt;
    color: #272727;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: "Teko", sans-serif;
    font-weight: 100;
}

#clock {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20pt;
}

#dateDisplay {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 20pt;
}

.information {
    text-align: left;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats {

}

.There {
    opacity: 1;
    margin-top: 100px;
}

.notThere {
    opacity: 0;
    width: 10px;

}

svg {
    margin: auto;
    display: block;
    /* border: 1px solid black; */
}

section {
    position: relative;
    top: 200px;
    font-size: 25pt;
    color: #272727;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family:'Times New Roman', Times, serif
}

.continue {
    background-color: red;
    padding: 5px;
    position: relative;
    top: 100px;
    display: block;
    width: 200px;
    margin: auto;
    color: white;
    border-radius: 5px;
    font-size: 19pt;
}

.label {
    position: relative;
    left: 400px;
    bottom: 50px;
}




