* {
    margin: 0; padding: 0; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.3em;
    background-color: #fffff4;
}

nav a {
    font-size: 20pt;
    padding: 20px;
    background-color: lightblue;
    transition: .3s ease-in;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: blue;
}

nav {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    position: relative;
    bottom: 20px;
}

section {
    background-color: lightblue;
    width: 80%;
    height: 60vh;
    margin: auto;

}

main {
    margin-top: 5%;
    height: 80vh;
}

#mile {
    padding-inline: 20px;
}

#day {
    padding: 20px;
}